{% extends 'downloader/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'downloader/style/home.css' %}">
{% endblock %}

{% block content %}

<h1>Youtube Video Downloader</h1>

{% if message %}
  <p>{{ message }}</p>
{% endif %}

<div class="design">
  <form action="{% url 'downloader:process' %}" method="post">
    {% csrf_token %}

  <input id="text-link" class="video-link" type="text" name="link" value="" placeholder="Enter the Url of the video or playlist" required>
  <br>
  <input class="submit" type="submit" name="" value="Fetch Links">
    </form>
</div>

<table>
  <thead>
    <tr>
      <th> Resolution </th>
      <th> File Type </th>
      <th> File Size </th>
      <th> Download Link </th>
    </tr>
  </thead>
  <tbody>
<tr>
  <td>Resolutionssssssss</td>
  <td>File Type</td>
  <td>File Size</td>
  <td><a href="{{ wrapper.stream.url }}"><button type="button" name="button">Download</button></a></td>
</tr>
<tr>
  <td>Resolution</td>
  <td>File Type</td>
  <td>File Size</td>
  <td><a href="{{ wrapper.stream.url }}"><button type="button" name="button">Download</button></a></td>
</tr>
<tr>
  <td>Resolution</td>
  <td>File Typewwwwwwww</td>
  <td>File Size</td>
  <td><a href="{{ wrapper.stream.url }}"><button type="button" name="button">Download</button></a></td>
</tr>
<tr>
  <td>Resolution</td>
  <td>File Type</td>
  <td>File Sizesssssssss</td>
  <td><a href="{{ wrapper.stream.url }}"><button type="button" name="button">Download</button></a></td>
</tr>
  </tbody>
</table>
{% endblock%}
